html {
    background-color: red;
}
.intro {
    color: red; /* 文字色を赤に変更 */
    background-color: yellow; /* 背景色を黄色に変更 */
    font-family: Arial;
    font-size: 40px;
}
.list {
    font-size: 10px;
    font-family: 'Times New Roman';
}
.list {
    color: blue; /* 文字色を青に変更 */
    background-color: green; /* 背景色を緑に変更 */
    list-style: none;
}
